#todo
{
	width: 70vw;
	height: 40vw;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

#title
{
	text-align: center;
	font-size: 2.5vw;
	font-weight: bold;
}
#main
{
	background-color: #c0c0c0;
	width: 50vw;
	height: 30vw;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#nombre
{
	margin-top: 1vw;
	font-size: 1.5vw;
}
#boton
{
	font-size: 1.5vw;
}
#respuesta
{
	font-size: 1.5vw;
}